<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.goatourism">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GoaTourism">
        <activity
            android:name=".Malls"
            android:exported="false"
            android:parentActivityName=".Attractions"/>
        <activity
            android:name=".TouristAttractions"
            android:exported="false"
            android:parentActivityName=".Attractions"/>
        <activity
            android:name=".Restaurants"
            android:exported="false"
            android:parentActivityName=".Attractions"/>
        <activity
            android:name=".Hotels"
            android:exported="false"
            android:parentActivityName=".Attractions"/>
        <activity
            android:name=".Police"
            android:exported="false"
            android:parentActivityName=".Amneties"/>
        <activity
            android:name=".Hospitals"
            android:exported="false"
            android:parentActivityName=".Amneties"/>
        <activity
            android:name=".Busstops"
            android:exported="false"
            android:parentActivityName=".Amneties"/>
        <activity
            android:name=".Amneties"
            android:exported="false"
            android:parentActivityName=".Showfacilities" />
        <activity
            android:name=".Attractions"
            android:exported="false"
            android:parentActivityName=".Showfacilities" />
        <activity
            android:name=".Showfacilities"
            android:exported="false"
            android:parentActivityName=".UserInfo"/>
        <activity
            android:name=".UserInfo"
            android:exported="false"
            android:label="Add Information"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>